<div  id="attractions" class="row">

<% attractions.each do |attraction| %>
  <div class="attraction">
    <div class="attraction-body">
      <div class='attraction-head clearfix'>
        <%= content_tag :h4, attraction.title, class: 'attraction-title' %>
        <div class="attraction-actions">
          <%= link_to edit_attraction_path( attraction ) do %>
            <span class='fa fa-edit'></span>
          <% end %>
          <%= link_to attraction_path( attraction ), :method => :delete, data: { confirm: "Você tem certeza?" } do %>
            <span class='fa fa-trash-o'></span>
          <% end %>
        </div>
      </div>
      <div class="attraction-content">
        <div class="clearfix"><%= content_tag :p, attraction.media, class: 'attraction-media' %></div>
        <%= content_tag :p, attraction.description, class: 'attraction-description' %>
      </div>
      <div class="attraction-bottom">
        <%= link_to_user_attractions attraction, class: 'nick-name' %>
        <%= content_tag :p, l(attraction.day, :format => :short), class: 'day' %>
      </div>
    </div>
  </div>
<% end %>

</div>
